<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <p>If you would like to see the documentation page, please go to <a href="https://sei-project-2-yvonne.herokuapp.com/api/"></p>
  </body>
</html>
